.error_message__overlay {
	z-index: 10;
	position: fixed;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(100, 100, 100, 0.7);
}

.error_message__content {
	background-color: #fff;
	border: 1px outset #ccc;
	border-radius: 8px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding: 0.8em;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	z-index: 20;
	min-width: 300px;
	min-height: 300px;
}

.error_message__copy {
	margin-bottom: 2em;
}
