.album__item {
	user-select: none;
}

.card {
	transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
	transform: scale(1);
}
.card:hover {
	transform: scale(1.05);
	box-shadow: 2px 3px 5px #ccc;
}

.card-delete-btn,
.card-edit-btn {
	font-weight: bold;
	position: absolute;
	z-index: 1;
	right: -5px;
	width: 30px;
	height: 30px;
	cursor: pointer;
	transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
	transform: scale(1);
	border-radius: 50%;
	background-color: #fff;
	box-shadow: 1px 1px 3px #ccc;
	box-shadow: 1px 1px 2px #ccc;
}

.card-delete-btn {
	top: -5px;
}
.card-edit-btn {
	top: 35px;
}
.card-edit-btn svg {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	max-width: 18px;
	max-height: 18px;
	margin: auto;
	transition: transform 0.3s ease-in;
	transform: rotateZ(0);
}

.card-delete-btn:after {
	font-size: 1.2em;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: transform 0.3s ease-in;
	transform: rotateZ(0);
}

.card-delete-btn:after {
	content: "\2715";
}

.card-delete-btn:hover,
.card-edit-btn:hover {
	transform: scale(1.1);
	box-shadow: 1px 1px 3px #ccc;
}

.card-delete-btn:hover:after {
	transition-timing-function: ease-out;
	transform: rotateZ(180deg);
}
.card-edit-btn:hover svg {
	transition-timing-function: ease-out;
	transform: rotateZ(360deg);
}

.card-footer.card-footer--selectable {
	cursor: pointer;
}

.edit-album__overlay {
	position: fixed;
	z-index: 100;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(70, 70, 70, 0.5);
}
.edit-album__container {
	position: fixed;
	z-index: 101;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 90%;
	max-width: 800px;
	height: 90%;
	max-height: 800px;
	margin: auto;
	padding: 0.75rem;
	background-color: #fff;
}
