.album__item {
    position: relative;
    margin: 0.75rem 0 0;
    padding: 0.5rem 1rem;
    text-align: left;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    width: 48%;
    color: #000;
}
.album__item:last-child:nth-child(odd) {
    width: 100%;
}
.album__item + .album__item {
    margin-top: 0.5rem;
}
.album__item--owned {
    border-color: rgb(176, 255, 189);
}
.album__item--required {
    border-color: rgb(253, 92, 92);
}